<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/styles/css/base.css"/>
    <title>Multi-user blog</title>
</head>

<body>
<nav class="main-nav">
    <div class="title">
        <a href="/blog" class="main-title">
            Just another blog
        </a>
    </div>
    <div class="login">
        {% if user %}
        <a class="login-link" href="/blog/newpost">Add Post</a>
        <a class="login-link" href="/logout">Logout</a>
        {{user.name}}
        {% else %}
        <a class="login-link" href="/login">login</a> / <a class="login-link" href="/signup">Signup</a>
        {% endif %}
    </div>
</nav>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>

</html>

