<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="/styles/css/base.css"/>
    <title>Multi-user blog</title>
</head>

<body>
<nav class="main-nav">
    <div class="title">
        <a href="/blog" class="main-title">
            {% if user %}
                Welcome, {{user.name}}!
            {% endif %}
            Just another blog
        </a>
    </div>
</nav>
<ul class="nav-menu">
    <li>
        <a href="/blog" class="main-title">Home</a>
        {% if user %}
        <a href="/blog/newpost">Add Post</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a class="login-link" href="/signup">Signup</a>
        {% endif %}
    </li>
</ul>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

<script src="/scripts/js/base.js"></script>
</body>

</html>

