{% extends "base.html" %}

{% block content %}

{% if user %}
<aside>
    <ul class="controls">
        {% if user.name == post.author %}
        <li>
            <a href="/blog/{{post.key().id()}}/edit">&#9998; Edit</a>
        </li>
        <li>
            <a href="/blog/{{post.key().id()}}/removepost" class="like-button">&#10006; Delete</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/{{post.key().id()}}/like">&#9829; Like</a>
        </li>
        {% endif %}
    </ul>
</aside>
{% endif %}

{{post.render() | safe}}
{% endblock %}
