{% extends "base.html" %}

{% block content %}

<aside>
    <ul class="controls">
        {% if user and user.name == post.author %}
        <li>
            <form method="get" id="edit">
                <label>
                    <input name="edit" class="like-check" checked="" type="checkbox"/>
                    <span class="like-button">&#9998; Edit</span>
                </label>
            </form>
        </li>
        <li>
            <a href="/blog/{{post.key().id()}}/removepost" class="like-button">&#10006; Delete</a>
        </li>
        {% else %}
        <li>
            <a href="/blog/{{post.key().id()}}/like">&#9829; Like</a>
        </li>
        {% endif %}
    </ul>
</aside>


{{post.render() | safe}}
{% endblock %}
